# Neon Database Connection String (Serverless PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_sample_pass@ep-cool-pool-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Express Server Port
PORT=5000

# JWT Secret Key
JWT_SECRET="menuvora_neon_secret_key_2026"

# Ezetap / Razorpay POS Bridge API Credentials (From Official Postman Collection)
EZETAP_USERNAME="7026424846"
EZETAP_APP_KEY="8cfae0b9-1396-4561-ab49-820c08ec9c7e"
EZETAP_BASE_URL="https://demo.ezetap.com"
